@charset "utf-8";
/* CSS Document */
* {
        margin: 0;
        padding: 0;
        
    }
    
    img {
        height: 80px;
        width: 80px;
    }
	
    .one:after{
    	content: ".";
    	display: block;
    	clear: both;
    	height: 0;
    	overflow: hidden;
    	visibility: hidden;
    }
 .one{
    	position: relative;
    	margin: 20px;
    	border: 1px solid #999;
    	background-color: #eee;
    }

 .left {
    	background-color: #fff;
        display: inline-block;
		 box-sizing: border-box;

        float: left;
        width: 200px;
        margin: 20px ;
        padding: 20px;
        border: 1px solid #999;
    }
    
    .right {
    	position: absolute;
    	background-color: #fff;
        float: right;
        width: 120px;
        box-sizing: border-box;
        right: 20px;
        top: 20px;
        padding: 20px;
        border: 1px solid #999;
    }
    
    .center {
    	background-color: #fff;
        border: 1px solid #999;
        margin: 20px 200px 0 280px;
        padding: 20px;
    }


